@import "../scss/variables";
@import "../scss/mixins";

.header {
  gap: rem(5);
}

.title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: rem(28);
  line-height: rem(32);
}

.header__info {
  gap: rem(15);
}

.header__article {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: rem(14);
  line-height: rem(20);
  color: #7b8e98;

  & > span {
    color: #1a1a1a;
  }
}

.header__request {
  font-style: normal;
  font-weight: 400;
  font-size: rem(14);
  line-height: rem(20);
  text-decoration-line: underline;
  color: #ffaa0d;
}

.content {
  gap: rem(40);
}

.content__card {
  gap: rem(40);
}

.content__cardImg {
  max-width: rem(488);
  flex: 1 1 auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card__gallery {
  gap: rem(5);
}

.content__galleryImg {
  max-width: rem(80);

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: rem(13);
    -webkit-border-radius: rem(13);
    -moz-border-radius: rem(13);
    -ms-border-radius: rem(13);
    -o-border-radius: rem(13);
  }

  filter: drop-shadow(0px 0px 1px rgba(40, 41, 61, 0.02))
    drop-shadow(0px 2px 16px rgba(96, 97, 112, 0.16));
}

.card__info {
  gap: rem(25);
  flex: 1 1 rem(340);
}

.card__price {
  gap: rem(2);
}

.price__old {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: rem(14);
  line-height: rem(20);
  text-decoration-line: line-through;
  color: #1a1a1a;
}

.price__new {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: rem(28);
  line-height: rem(32);
  color: #f44336;
}

.product__card {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: rem(21);
  line-height: rem(24);
  color: #1a1a1a;
}

.info__btn {
  gap: rem(16);

  & > button {
    flex: 1 1 auto;
    align-self: stretch;
  }
}

.btn__qt {
  justify-content: center;
  align-items: center;
  padding: rem(12);
  gap: rem(12);
  border: 1px solid #cfd8dc;
  border-radius: rem(100);
  -webkit-border-radius: rem(100);
  -moz-border-radius: rem(100);
  -ms-border-radius: rem(100);
  -o-border-radius: rem(100);
}

.btn__plus,
.btn__minus {
  width: rem(24);
  height: rem(24);
}

.favourite__wrapper {
  gap: rem(8);
  align-items: center;
  position: relative;
}

.product__favourite-text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: rem(16);
  line-height: rem(20);
  color: #7b8e98;
}

.favourite {
  width: rem(24);
  height: rem(24);
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    fill: #ffffff;
    stroke: #7b8e98;
  }

  &_active {
    // position: absolute;
    // top: 0;
    // right: 0;
    z-index: 1;
    width: rem(24);
    height: rem(24);
    cursor: pointer;

    svg {
      fill: #f44336;
    }
  }
}

.favourite__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: rem(16);
  line-height: rem(20);
  color: #7b8e98;
}

.card__quality {
  gap: rem(8);
}

.quality__img {
  width: rem(32);
  height: rem(32);
  flex: 0 0 auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.quality__card {
  background: rgba(236, 239, 241, 0.5);
  border-radius: rem(12);
  overflow: hidden;
  -webkit-border-radius: rem(12);
  -moz-border-radius: rem(12);
  -ms-border-radius: rem(12);
  -o-border-radius: rem(12);
  gap: rem(12);
  padding: rem(12);
}

.quality__description {
  gap: rem(8);
}

.quality__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: rem(16);
  line-height: rem(20);
  color: #1a1a1a;
}

.quality__text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: rem(14);
  line-height: rem(20);
  color: #1a1a1a;

  & > span {
    font-weight: 700;
  }
}

.description,
.characteristic,
.request {
  gap: rem(20);
}

.subtitle {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: rem(24);
  line-height: rem(28);
  color: #1a1a1a;
}

.text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: rem(16);
  line-height: rem(20);
  color: #000000;
}

.list__characteristic {
  gap: rem(20);
}

.list__item {
}

.item__title {
  max-width: rem(140);
  flex: 1 1 auto;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: rem(16);
  line-height: rem(20);
  color: #7b8e98;
  padding-right: rem(8);

  &::after {
    content: "";
    display: block;
    flex: 1 1 auto;
    border-bottom: rem(1) dashed #cfd8dc;
    margin-left: rem(4);
    margin-top: rem(16);
    align-self: flex-start;
  }
}

.item__description {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: rem(14);
  line-height: rem(20);
  color: #1a1a1a;
}

.request__btn {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: rem(16);
  line-height: rem(20);
  color: #1a1a1a;
  border: rem(1) solid #cfd8dc;
  border-radius: rem(87);
  -webkit-border-radius: rem(87);
  -moz-border-radius: rem(87);
  -ms-border-radius: rem(87);
  -o-border-radius: rem(87);
  padding: rem(10) rem(18);
  align-self: flex-start;
}

.subtitle__request {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: rem(16);
  line-height: rem(20);
  color: #1a1a1a;
}

.request__card {
  border-top: rem(1) solid #eceff1;
  padding-top: rem(16);
  gap: rem(16);
}

.request__header {
  gap: rem(8);
}

.name {
  align-items: flex-end;
  gap: rem(8);
}

.request__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: rem(20);
  line-height: rem(24);
  color: #1a1a1a;
}

.request__date {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: rem(14);
  line-height: rem(20);
  color: #7b8e98;
}

.request__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(70), 1fr));
  gap: rem(16);
}

.gallery__img {
  max-width: rem(90);
  max-height: rem(60);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  border-radius: rem(8);
  -webkit-border-radius: rem(8);
  -moz-border-radius: rem(8);
  -ms-border-radius: rem(8);
  -o-border-radius: rem(8);
  overflow: hidden;
}

.request__text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: rem(14);
  line-height: rem(20);
  color: #1a1a1a;
}

.request__star {
}

.request__city {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: rem(12);
  line-height: rem(14);
  color: #7b8e98;
}
