@use "sass:math";

@import "./components/scss/base";
@import "./components/scss/mixins";
@import "./components/scss/fonts";
@import "./components/scss/variables";

/*------------------ОБОЛОЧКА------------------*/
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

[class*="__container"] {
  width: 100%;
  max-width: rem(1022);
  margin: 0 auto;
  padding: 0 rem(15);
}

.main {
  flex: 1 1 auto;
}
